@import "bootstrap/scss/bootstrap";

body {
  background-color: #f8f8fa;
}

.container-task {
  text-align: center;
}

.container-show {
  text-align: center;
}

.to-do {
  background-color: #46B1C9;
  color: white;
}

.done {
  color: #104658;
}

#l-home {
  color: white;
}

#edit {

}

#title {
  color: #46B1C9;
}
