// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.container-task {
  text-align: center;
}

.container-show {
  text-align: center;
}

#title {
  color: #46B1C9;
}


